@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

li {
  list-style: none;
}
ul {
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  background-image: url(/mr.Cat/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.container {
  width: 800px;
  min-height: 500px;
  border: 10px solid white;
  margin: 0 auto;
  background: white;
}
.header {
  display: flex;
  height: 150px;
}
.title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 80%;
  height: 100%;
  background-image: url(/mr.Cat/img/matrix.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.userpic {
  display: flex;
  width: 20%;
  height: 100%;
  background-image: url(/mr.Cat/img/mrCat.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav ul {
  display: flex;
  background: rgb(230, 230, 230);
  margin: 10 0;
}

.nav li a {
  display: flex;
  padding: 20px;
  text-decoration: none;
  color: #404040;
  font-weight: bold;
  border-right: 1px solid #d1d1d1;
  transition: background 0.5s ease;
}
.nav li a:hover {
  background: rgb(196, 196, 196);
}
.content-wrapper {
  display: flex;
}
.content {
  width: 80%;
  padding: 20px;
  text-align: justify;
}
.sidebar {
  width: 20%;
  padding: 20px;
  text-align: center;
}
.skills li {
  padding: 10px 0;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.skills li:hover {
  transform: translateX(10px);
}
